<div class="container">
  <h4>This project was created during <a href='http://devbootcamp.com/'>Dev Bootcamp.</a></h4>

  <div>
  <a href="http://kariweiler.com">Kari Weiler</a>
  </div>

  <div>
  <a href="http://github.com/kschlarman">Kelsey Schlarman</a>
  </div>

  <div>
  <a href="http://janetchang.com">Janet Lai Chang</a>
  </div>

  <div>
  <a href="http://www.dmragone.com">David Ragone</a>
  </div>

  <div>
  <a href="http://github.com/dgamboa">Daniel Gamboa</a>
  </div>
</div>