<div class="message hidden">
  <textarea style="resize:none;">Hi, let's talk!</textarea>
  <span>
    <ul>
      <li>
        <%= form_tag(meeting_path(meeting.id), :remote => "true", :method => "put") do %>
          <%= hidden_field_tag(:status, "matched") %>
          <%= submit_tag("Send Email", :class => 'btn btn-info') %>
        <% end %>
      </li>
      <li><button class="btn btn-danger">Nevermind</button></li>
    </ul>
  </span>
</div>