<div class="message hidden">
  <textarea style="resize:none;">Hi, let's talk!</textarea>
  <span>
    <ul>
      <li><button class="btn">Send Email</button><br /></li>
      <li><button class="btn btn-danger">Nevermind</button></li>
    </ul>
  </span>
</div>