<div class='container' id='meetings'>
  <% if signed_in? %>
    <%= render 'form' %>
  <% else %>
    <%= render 'static_pages/how_it_works' %>
  <% end %>
  <%= render @meetings %>
  <%= will_paginate @meetings %>
  
  <!-- Modal -->
  <div id="meetingTaken" class="modal hide fade" tabindex="-1" role="dialog">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3>Whoops!</h3>
    </div>
    <div class="modal-body">
      <p>It looks like this action is not available at this time.  Please refresh and try later.</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" onClick="document.location.reload(true)">Aw Shucks!</button>
    </div>
  </div>