<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Your request for mentorship on <%= @meeting.topic %> has been accepted</p>
    <br/>
    <p>Original request:</p>
    <p><%= @meeting.description %></p>
    <br/>
    <p>Mentor response:</p>
    <p><%= @message %></p>
    <br/>
    <p>Mentor Contact Email: <%= @meeting.mentor.email %></p>
    <br/>

    <p>Please follow up with your mentor as soon as possible to schedule a metting time and place.</p>
    <br/>

    <p>Cheers,</p>
    <p>The team at ApprenticeHour</p>

     <br/>
    <p>P.S. Feel free to contact us with questions, feedback or concerns at hello@apprenticehour.com</p>
  </body>
</html>