footer {
  hr {
    margin-bottom: 5px;
  }

  small {
    display: inline-block;
  }

  ul {
    list-style: none;
    float: right;


    li {
      float: left;

      + li {
        margin-left: 25px; 
      }
    }
  }
}