body {
  background: #FAFAFA;
}

.available {
  background-color: #BDFCC9;
}

.matched {
  background-color: #FCFFF8;
}

.completed {
  background-color: #D1EEEE;
}

.cancelled {
  background-color: #F00;
}

.meeting {
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 2px 2px 5px #777;
  height: 100px;
  margin-left: auto;
  margin-right: auto;

  + .meeting {
    margin-top: 10px;
  }

  .left {
    margin-left: 18px;
  }

  .status-actions {
    margin-top: 22px;
  }

  .topic_location {

    h3 {
      display: inline-block;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 0px;
      margin-right: 15px;
    }

    p {
      display: inline-block;
      font-size: 14px;
      line-height: 22px;
      font-style: italic;
      margin-bottom: 0px;
    }
  }

  .user {
    margin-top: 8px;
    float: right;
    height: 90px;

    .info {
      font-size: 12px;
      line-height: 12px;
      font-style: italic;
    }

    p {
      margin: 0;
      text-align: center;
    }

    img {
      display: block;
      margin: 0px auto;
      height: 60px;
    }
  }

 }

.message {

}

.hidden {
  display: none;
}