body {
  background: #FAFAFA;
}

.available {
  background-color: #DCF7DA;
}

.matched {
  background-color: #EAEDF0;
}

.completed {
  background-color: #EEE9D6;
}

.cancelled {
  background-color: #F0D5D3;
}

.meeting {
  height: 130px;
  margin-left: auto;
  margin-right: auto;

  + .meeting {
    margin-top: 10px;
  }

  .left {
    margin-left: 18px;
  }

  .status-actions {
    margin-top: 22px;
  }

  .topic_location {

    h3 {
      display: inline-block;
      font-size: 22px;
      line-height: 22px;
      margin-bottom: 0px;
      margin-right: 15px;
    }

    p {
      display: inline-block;
      font-size: 14px;
      line-height: 22px;
      font-style: italic;
      margin-bottom: 0px;
    }
  }

  .user {
    margin-top: 8px;
    float: right;
    height: 90px;

    .info {
      font-size: 12px;
      line-height: 12px;
      font-style: italic;
    }

    p {
      margin: 0;
      text-align: center;
      max-height: 20px;
      overflow: hidden;
    }

    img {
      display: block;
      margin: 0px auto;
      height: 70px;
    }
  }
 }

.meeting.meeting-with-form {
  height: 250px;

  textarea {
    height: 80px;
    width: 750px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .message {
    margin-top: 20px;
    position: relative;

    button {
      margin-bottom: 15px;

    }

    span {
      float: right;
      margin-top: 30px;
      margin-right: 25px;
    }

    ul {
      list-style-type: none;
    }
  }
}

.hidden {
  display: none;
}

.description {
  height: 80px;
}

.form {
  height: 100px;
  form {
    margin-top: 10px;

    .span1andahalf {
      width: 90px;
    }

    .select {
      width: 150px;
      margin-right: 25px;
    }

    .description {
      width: 690px;
    }

    .submit {
      margin-top: 40px;

    }

    .inputError {
      border: 1px solid red;
    }
  } 
}

form.nevermind {
  display: inline;
  position: absolute;
  right: 26px;
  bottom: 0;
  width: 98px;
}