<div class="navbar navbar-inverse some">
  <div class="navbar-inner">
    <a class="custom_brand" href="/">ApprenticeHour</a>

    <ul class="custom_nav_title">
      <li><%= link_to 'How It Works', faq_path %></li>
    </ul>


    <ul class="custom_nav_title pull-right">
      <% if signed_in? %>
        <li class="auth_margin auth_name"><%= link_to current_user.name, current_user %></li>
        <li class="auth_margin"><%= link_to 'Sign Out', signout_path %></li>
      <% else %>
        <li class="auth_margin"><%= link_to 'Sign in via Github', '/auth/github' %></li>
      <% end %>
    </ul>
  </div>
</div>
